/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* my own */
@import '~assets/fonts/stylesheet.css';
@import '~assets/css/typography.css';
@import '~assets/css/hamburgers.css';

button, input[type="submit"], input[type="reset"], [type="button"], [aria-label="menu"] {
	background: none !important; 
	color: inherit !important;
	border: none !important;
	font: inherit !important;
	cursor: pointer !important;
	outline: inherit !important;
  -webkit-appearance: none !important;
-webkit-border-radius: 0 !;
}

/* purgecss start ignore */
@import 'swiper/dist/css/swiper.css';
/* purgecss end ignore */

:root {
  --left-col-width: 500px;
  --nav-collapsed-width: 80px;
  --nav-width: 260px;
  --slider-image-height: 100%;
  --slider-caption-height: 40px;
  --slider-height: 100%;
}

@screen md {
  :root {
    --slider-image-height: 500px;
    --slider-height: 540px;
  }
}

@screen xl {
  :root {
    --slider-image-height: 700px;
    --slider-height: 740px;
  }
}

*:focus {
  outline: none;
}

.page {
  @apply mb-24;
}

.swiper-container {
  height: 100%;
  position: relative;

  & figure {
    height: 100%;
    /* width: auto !important; */

    & img {
      height: 100%;
    }
  }
}


.swiper-container figure img {
  width: 100%;
  object-fit: contain;
  object-position: top center;
}

@screen md {
  .swiper-container figure img {
    object-fit: cover;
  }

}

.custom-controls-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 39;
  pointer-events: none;

  & .next,
  & .previous {
    pointer-events: auto;
    position: absolute;
    @apply px-4;
    top: 50%;
    transform: translate(0, -100%);
  }

  & .previous {
    left: 0;
  }

  & .next {
    right: 0;
  }

  & img[role=button] {
    transition: opacity 0.5s ease;
  }

  & img[aria-disabled=true] {
    opacity: 0.3;
  }
}

.swiper-slide {
  /* border: 1px solid red; */
  max-width: 100%;
}

.font-normal.sticky {
  pointer-events: none;
}

@layer base {
  .bust-out-mobile,
  .bust-out {
    margin: 0 calc(50% - 50vw);
  }
  
  @screen md {
    .bust-out-mobile {
      margin: auto; 
      width: auto;
    }
  }

  .toggle-children {
    &.active .toggle-children-primary,
    &:hover .toggle-children-primary,
    & .toggle-children-secondary {
      @apply hidden;
    }

    &.active .toggle-children-secondary,
    &:hover .toggle-children-secondary,
    & .toggle-children-primary {
      @apply block;
    }
  }

  @screen sm {
    * > .show-on-hover {
      @apply opacity-0 transition-opacity;
    }
  }
  
  *:hover > .show-on-hover {
    @apply opacity-100;
  }  
}

@layer utilities {
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbars::-webkit-scrollbar {
  display: none;
	-webkit-appearance: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}
.cv_section:not(:first-child) {
  padding-top: 10px;
}